### For training, we need more data not relevant to wildfires. This notebook will collect the not relevant data

In [6]:
from twitterscraper import query_tweets
import datetime as dt
import pandas as pd

In [23]:
# Get tweets basing off of keywords
def get_tweets(list_of_keywords, limit, begindate):
    tweets_list = []
    
    for keyword in list_of_keywords:
        tweets = query_tweets(keyword, limit=limit, begindate=begindate, lang='en')
        
        for tweet in tweets:
            tweets_dict = {'category': 'not relevant', 'text': tweet.text, 'label': 0}
            
            tweets_list.append(tweets_dict)
    
    return tweets_list

In [24]:
tweets_list = get_tweets(['habit', 'sweet', 'snow', 'music', 'sports', 'movies'], limit=80, begindate=dt.date(2020, 8,1))

In [30]:
# This is for checking each tweets
#for i in tweets_list:
#    print(i)

In [31]:
len(tweets_list)

1100

In [32]:
tweets_df = pd.DataFrame(tweets_list)

In [33]:
tweets_df

          category                                               text  label
0     not relevant  and if you do, don't bring your stupid voting ...      0
1     not relevant  It’s absolutely worth it do this! I adopted th...      0
2     not relevant  I suppose you use this same logic to justify y...      0
3     not relevant  if he paying all shorty bills and Spoiling her...      0
4     not relevant  When doing so, they are healthier than meat ea...      0
...            ...                                                ...    ...
1095  not relevant  lrt seeing that hereditary shot and unlocking ...      0
1096  not relevant  Apparently we’re having a movie marathon bc we...      0
1097  not relevant  avp really isn't that bad of a movie except fo...      0
1098  not relevant  Old movie posters are pure art. https://twitte...      0
1099  not relevant  since I might not be able to make it to the #M...      0

[1100 rows x 3 columns]

In [35]:
tweets_df.drop_duplicates(inplace=True)

In [36]:
tweets_df

          category                                               text  label
0     not relevant  and if you do, don't bring your stupid voting ...      0
1     not relevant  It’s absolutely worth it do this! I adopted th...      0
2     not relevant  I suppose you use this same logic to justify y...      0
3     not relevant  if he paying all shorty bills and Spoiling her...      0
4     not relevant  When doing so, they are healthier than meat ea...      0
...            ...                                                ...    ...
1095  not relevant  lrt seeing that hereditary shot and unlocking ...      0
1096  not relevant  Apparently we’re having a movie marathon bc we...      0
1097  not relevant  avp really isn't that bad of a movie except fo...      0
1098  not relevant  Old movie posters are pure art. https://twitte...      0
1099  not relevant  since I might not be able to make it to the #M...      0

[1085 rows x 3 columns]

In [37]:
tweets_df.to_csv('../data/not_relevant_tweets.csv', index=False)